venv/
.venv/
.idea/
.ipynb_checkpoints/
Masteroppgave.*
!Masteroppgave.tex
sections/*.auxindent.log
*indent.log
.env
datasets/market_insights_overview_all.csv
todos.md
datasets/market_insights_overview_all_2021_11_12.csv
**/__pycache__/**
