venv/
.venv/
.idea/
.ipynb_checkpoints/
Masteroppgave.*
!Masteroppgave.tex
sections/*.auxindent.log
*indent.log
*.env*
todos.md
datasets/raw/*
**/__pycache__/**
env/
MScTemplate/pdflatex92299.fls
**__init__.py**
**.env
.neptune
.tox/
htmlcov
Masterproject.egg-info/
build/
.coverage
htmlcov/
coverage.xml
env*/
log_file.log
log-file.log
*/0_current_model_checkpoints/*
**.egg-info/*
*/permetrics.egg-info/*
**/*.pkl
todo.md
datasets/processed
