jupyter
numpy
pandas
matplotlib
sklearn
scipy
wheel
seaborn
statsmodels
dataenforce
pyyaml
confuse
click
prefect
genpipes
neptune-client
tox
pytest
flake8
pylint
mamba
coverage==6.1.2
expects
pylint-quotes
mockito
-e.
psutil
