name: Python package

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # pip install tox tox-gh-actions
        pip install -r requirements.txt
    - name: Test
      run: mamba --enable-coverage
      
    - name: Generate coverage report
      run: coverage xml
      
    - name: Python Cov
      uses: orgoro/coverage/@v2
      if: github.event_name == 'pull_request' # Only run on PRs
      with:
        coverageFile: coverage.xml
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Install coverage lcov
      if: github.event_name == 'pull_request' # Only run on PRs
      run: |
        pip install coverage-lcov 
        coverage-lcov
        
    - name: Coveralls GitHub Action
      if: github.event_name == 'pull_request' # Only run on PRs
      # You may pin to the exact commit or the version.
      # uses: coverallsapp/github-action@9ba913c152ae4be1327bfb9085dc806cedb44057
      uses: coverallsapp/github-action@1.1.3
      with:
        # 
        github-token: ${{ secrets.GITHUB_TOKEN }}
        # Path to lcov file
       # path-to-lcov: # default is ./coverage/lcov.info
        # Job flag name, e.g. "Unit", "Functional", or "Integration". Will be shown in the Coveralls UI.
       # flag-name: # optional
        # Set to true if you are running parallel jobs, then use "parallel_finished: true" for the last action.
       # parallel: # optional
        # Set to true for the last action when using "parallel: true".
       # parallel-finished: # optional
        # Coveralls Enterprise server (more info: https://enterprise.coveralls.io)
       # coveralls-endpoint: # optional, default is https://coveralls.io
        # The root folder of the project that originally ran the tests
      #  base-path: # optional
        # Override the branch name
      #  git-branch: # optional
        # Override the commit sha
        #git-commit: # optional
